body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #34495e;
}
.box{
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 250%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #191919;
  text-align: center;
}
.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}
.box input[type = "text"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 210px;
  border-color: #2ecc71;
}
.box input[type = "submit"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}
.box input[type = "submit"]:hover{
  background: #2ecc71;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    position: absolute;
    top: -20%;
    left: 50%;
    transform: translate(-50%,50%);
    background: #141414;
    
}
a{
    position: relative;
    display: block;
    font-size: 35px;
    color: white;
    background-color: #0d0d0d;
    margin:  45px 0;
    padding: 25px 70px;
    text-decoration: none;
     transition: .5s;
    overflow: hidden;
    text-transform: uppercase;
}


a span{
    position: absolute;
    }

a:hover{
    background-color: #03e9f4;
box-shadow: 0 0 5px #03e9f4,
            0 0 25px #03e9f4,
            0 0 50px #03e9f4,
            0 0 100px #03e9f4;
}

a span:nth-child(1) {
    
    top:0;
    left: -100%;
    width: 100%;
    height: 3px;
    
background:linear-gradient(90deg,transparent, #03e9f4);
    
    
    
    animation: animate1 1s  linear infinite;
    
    
    
}


@keyframes animate1{
    0%{
        left: -100%;
    }
    50%,100%{
        left: 100%;
    }
}






a span:nth-child(2) {
    
    top:-100;
    
    width: 2px;
    
    right: 0;
    height: 100%;
    
background:linear-gradient(180deg,transparent, #03e9f4);
    
    
    
    animation: animate2 1s  linear infinite;
    
    
    
}


@keyframes animate2{
    0%{
        top: -100%;
    }
    50%,100%{
        top: 100%;
    }
}







a span:nth-child(3) {
    
    bottom: 0;
    
    width: 100%;
right: -100%;    
    
    height: 3px;
    
background:linear-gradient(270deg,transparent, #03e9f4);
    
    
    
    animation: animate3 1s  linear infinite;
    
    animation-delay: .40s;
    
    
}


@keyframes animate3{
    0%{
        right: -100%;
    }
    50%,100%{
        right: 100%;
    }
}






a span:nth-child(4) {
    
    bottom: -100;
    left: 0;
    width: 3px; 
    
    height: 100%;
    
background:linear-gradient(360deg,transparent, #03e9f4);
    
    
    
    animation: animate4 1s  linear infinite;
    
    animation-delay: 1s;
    
    
}


@keyframes animate4{
    0%{
        bottom: -100%;
    }
    50%,100%{
        bottom: 100%;
    }
}
